


html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #1a2a41;
	position: relative;
}
#mainWrap{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	bottom: 0px;
    min-height: 400px;
    min-width: 600px;
    font-family: 'Play', sans-serif;
}

#map{
	height: 100%;
	width: 100%;
}

div.ol-overlaycontainer-stopevent{
    position: relative;
    top: -100%;
    height: 0px;
}

#center{
	top: 60px;
	bottom: 35px;
	position: absolute;
	width: 100%
}

header, footer{
	height: 35px;
	width: 100%;
	position: absolute;
}

footer{
	bottom: 0px;
    color: white;
}

header{
	top: 0px;
    height: 60px;
    color: white;
}

#title-container{
    display: inline-block;
    height: 100%;
    width: 25%;
    text-align: center;
    vertical-align: auto;
    padding: 0px;
    float: left;
}

li{
    list-style: none;
}

.navbar{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
	height: 100%;
}

#topnavbar{
    float: right;
}

.navbar li{
    display: inline-block;
    font-size: 1em;
    height: 100%;
}

.mainbutton {
    height: 100%;
    min-width: 40px;
}

a{
    border-radius: inherit;
    
    cursor: pointer;
    transition: background-color 0.25s;
    transition: color 0.25s;
    border: 0;
    text-align: center;
    color: inherit;
    
}

#topnavbar a{
    background-color: inherit;
	height: 60px;
}

div#tabs #topnavbar li a:hover{
    color: #80b5ff;
}

a:focus{
    outline: 0;
}
#topnavbar a:active{
    background-color: #1a2a41;
}
.navbar a{
    height: 100%;
    width: 60px; 
    display: inline-block;
    font-size: initial;
}

li p{
    margin: 0px;
}

.vertical-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%) !important;
}

.navbar li:hover{
    color: #80b5ff;
}
#lownavbar a:active{
    background-color: #2E4762;
}
#lownavbar a{
    width: 35px;
}

#controls{
  background-color: #475e89;
  min-width: 240px;
  position: absolute;
  z-index: 1;
  right: 0px;
  max-height: 100%;
  overflow: auto;
  max-width: 33%;
  color: white;
}

#controls:empty{
    display: none;
}

#tabs{
  float: right;
  display: inline-block;
  width: 240px;
  z-index: 1;
  color: white;
  position: absolute;
  top: -60px;
  background-color: rgb(26, 42, 65);
  right: 0px;
  max-height: calc(100% + 60px);
  overflow: visible;
}

input.hidden{
    position: absolute;
    left: -9999px;
    display: none;
}

label{
    cursor: pointer;
}

/****************** css for pseudo-table layout  (I know :$ )***********************/

.table{
    display: table;
}

.table-row{
    display: table-row;
}

.table-cell{
    display: table-cell;
}


/**************************************  CSS for the editor  ************************************/

.ui-tabs-active{
    background-color: #475E89;
}

.ui-tabs-panel{
    padding: 7px;
}

div.ui-tabs-panel label{
    height: 40px;
    width: 100%;
    transition: color 0.25s;
    transition: background-color 0.25s;
}

div.ui-tabs-panel > div{
    width: 100%;
    padding: 0;
}

.table p{
    margin: 0px;
}

img.icon{
    max-height: 25px;
    max-width: 25px;
}
span.icon{
    width: 40px;
    text-align: center;
}
span.table-cell{
    padding: 0px;
    vertical-align: middle;
}

.chosen{
    background-color: #2E4762;
}

label.table-row:hover{
    color: #80b5ff;
}


/****************************************  the data editor css   *****************************************************/
.data-viewer{
}

.field-name{
	text-align: left;
	vertical-align: middle;
	width: 20%;
	font-size: smaller;
}